<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="large" color="#f7a233" type="timer"></ngx-spinner>
<mat-toolbar style="background-color: #3f51b5;">
  <span class="title-center" style="color: white;">로그인</span>
</mat-toolbar>
<mat-card class="my-card">
  <div *ngIf="error" style="color: red;">{{error}}</div><br />
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>이메일</mat-label>
        <input matInput placeholder="이메일" formControlName="email" [formControl]="emailFormControl" />
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          유효한 이메일 주소를 입력해주세요.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>비밀번호</mat-label>
        <input matInput type="password" placeholder="비밀번호" formControlName="password" [formControl]="passwordFormControl" />
      </mat-form-field>
      <a href="javascript:void(0);" (click)="goToForgotPwd()" class="remove-underline">비밀번호를 잊으셨나요?</a>
      <a href="javascript:void(0);" (click)="goToRegister()" class="remove-underline stick-to-right-side">회원가입</a>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button class="stick-to-right-side" [disabled]="!(loginForm.controls.email.valid && loginForm.controls.password.valid)"
        color="accent">
        로그인
      </button>
      <button type="button" mat-raised-button class="stick-to-right-side" (click)="onNoClick()" color="primary">
        닫기
      </button>
    </mat-card-actions>
  </form>
  <!-- <button mat-raised-button class="stick-to-right-side" style="margin-top: -23.7px; margin-right: 5px;" (click)="onNoClick()" color="primary">
    닫기
  </button> -->
</mat-card>