<section>
	<h2 class="h1 py-5 font-weight-bold text-center">SHARING YOUR STORY</h2>
	<p class="px-5 mb-5 pb-3 lead grey-text text-center">
		아무것도 모른채로 해외 취업에 뛰어든다면 이리저리 치일 수 밖에 없는 해외 취업 지망생들을 위해 도움이 필요합니다.
		해외 취업에 성공한 <span class="thick">나의 노하우</span>를 영상을 통해 전달해 보세요!
	</p>
	<section class="team-section text-center my-5">
		<h2 class="h1-responsive font-weight-bold my-5">How to do?</h2>
		<p class="grey-text w-responsive mx-auto mb-5">
			액소더스 코리아에 여러분의 영상을 올리기 위해서는
		</p>
		<div class="row text-center">
			<div class="col-md-4 mb-md-0 mb-5">
				<div class="avatar mx-auto">
					<img class="img-fluid" src="./../../assets/images/upload-video/k.png" class="rounded z-depth-1-half">		
				</div>
				<h4 class="font-weight-bold dark-grey-text my-4">1. 영상 제작</h4>
				<h6 class="text-uppercase grey-text mb-3">
					<strong>Create your Video</strong>
				</h6>
			</div>
			<div class="col-md-4 mb-md-0 mb-5">
				<div class="avatar mx-auto">
					<img class="img-fluid" src="./../../assets/images/upload-video/i.jpg" class="rounded z-depth-1-half">					
				</div>
				<h4 class="font-weight-bold dark-grey-text my-4">2. 유튜브에 업로드</h4>
				<h6 class="text-uppercase grey-text mb-3">
					<strong>Upload it to YouTube</strong>
				</h6>
			</div>
			<div class="col-md-4">
				<div class="avatar mx-auto">
						<img class="img-fluid" src="./../../assets/images/upload-video/j.png" class="rounded z-depth-1-half">		
				</div>
				<h4 class="font-weight-bold dark-grey-text my-4">3. 유튜브 주소 제출</h4>
				<h6 class="text-uppercase grey-text mb-3">
					<strong>Submit YouTube address</strong>
				</h6>
			</div>
		</div>
		<br />
		<p class="grey-text w-responsive mx-auto mb-5">
			<span class="thick">admin@exoduscorea.com</span> 으로 주소를 제출해주세요.
			<i class="fa fa-info-circle" matTooltip="해당 영상의 제작자인지 확인 후 업로드 완료합니다."
			matTooltipPosition="above" aria-hidden="true"></i>
		</p>
	</section>

	<hr />

	<p class="px-5 mb-5 pb-3 lead grey-text text-center">
		영상에 들어가면 좋은 내용
	</p>
	<div class="row">
		<div class="col-md-4">
			<div class="row mb-2">
				<div class="col-2">
					<i class="fa fa-2x fa-flag-checkered deep-purple-text"></i>
				</div>
				<div class="col-10 text-left">
					<h5 class="font-weight-bold">When</h5>
					<p class="grey-text">해외 취업을 마음먹은 시기 그리고 해외 취업을 위해 얼마나 준비하였는지</p>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-2">
					<i class="fa fa-2x fa-flask deep-purple-text"></i>
				</div>
				<div class="col-10 text-left">
					<h5 class="font-weight-bold">Where</h5>
					<p class="grey-text">어느 국가에서 취업했는지 또는 도시</p>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-2">
					<i class="fa fa-2x fa-glass deep-purple-text"></i>
				</div>
				<div class="col-10 text-left">
					<h5 class="font-weight-bold">What</h5>
					<p class="grey-text">어떤 직업으로 취직을 한건지 그리고 그 직업을 선택한 이유</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-2 center-on-small-only flex-center">
			<img src="./../../assets/images/upload-video/a.jpg" alt="" class="z-depth-0">
		</div>

		<div class="col-md-4">
			<div class="row mb-2">
				<div class="col-2">
					<i class="fa fa-2x fa-heart deep-purple-text"></i>
				</div>
				<div class="col-10 text-left">
					<h5 class="font-weight-bold">How</h5>
					<p class="grey-text">학교 졸업 후 취업 or 자격증 or 인턴/봉사활동/인맥/기술</p>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-2">
					<i class="fa fa-2x fa-flash deep-purple-text"></i>
				</div>
				<div class="col-10 text-left">
					<h5 class="font-weight-bold">Why</h5>
					<p class="grey-text">한국의 열악한 환경, 잦은 야근, 외국의 프리한 라이프 스타일, 복지, 더 높은 연봉</p>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-2">
					<i class="fa fa-2x fa-magic deep-purple-text"></i>
				</div>
				<div class="col-10 text-left">
					<h5 class="font-weight-bold">Salary</h5>
					<p class="grey-text">대략적인 초봉 그리고 연차가 쌓일수록 얼마나 더 받을 수 있는지</p>
				</div>
			</div>
		</div>
	</div>
</section>

<hr />

<section class="magazine-section my-5">
	<h2 class="h1-responsive font-weight-bold my-5">멘토가 되어주세요</h2>
	<p class="grey-text w-responsive mx-auto mb-5">
		Help them achieve their goals and dreams
	</p>
	<div class="row">
		<div class="col-lg-4 col-md-12 mb-lg-0 mb-5">
			<div class="single-news mb-3">
				<div class="view overlay rounded z-depth-2 mb-4">
					<img class="img-fluid" src="./../../assets/images/upload-video/b.jpg" alt="Sample image">
					<a>
						<div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 mb-md-0 mb-5">
			<div class="single-news mb-3">
				<div class="view overlay rounded z-depth-2 mb-4">
					<img class="img-fluid" src="./../../assets/images/upload-video/c.jpg" alt="Sample image">
					<a>
						<div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 mb-0">
			<div class="single-news mb-3">
				<div class="view overlay rounded z-depth-2 mb-4">
					<img class="img-fluid" src="./../../assets/images/upload-video/d.jpg" alt="Sample image">
					<a>
						<div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 mb-0">
			<div class="single-news mb-3">
				<div class="view overlay rounded z-depth-2 mb-4">
					<img class="img-fluid" src="./../../assets/images/upload-video/h.jpg" alt="Sample image">
					<a>
						<div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 mb-0">
			<div class="single-news mb-3">
				<div class="view overlay rounded z-depth-2 mb-4">
					<img class="img-fluid" src="./../../assets/images/upload-video/f.jpg" alt="Sample image">
					<a>
						<div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 mb-0">
			<div class="single-news mb-3">
				<div class="view overlay rounded z-depth-2 mb-4">
					<img class="img-fluid" src="./../../assets/images/upload-video/g.jpg" alt="Sample image">
					<a>
						<div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>