<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="large" color="#f7a233" type="timer"></ngx-spinner>
<br /><br />
<div class="row">
  <div id="picture" class="col-lg-6 col-md-12 view"></div>
  <div class="col-lg-6 col-md-12" style="background-color: #fcfcfc;">
    <div class="col-lg-8 col-md-12" style="margin: auto;">
      <mat-toolbar style="background-color: #3f51b5;">
        <span class="title-center" style="color: white;">회원가입</span>
      </mat-toolbar>

      <div *ngIf="success">
        <br /><br />
        <div style="color: green; text-align: justify;" [innerHTML]="success"></div>
        <button mat-raised-button (click)="resendConfirmEmail()" color="primary">인증메일 재발송</button>
        <br /><br />
      </div>
      <div *ngIf="error" style="color: red;">
        <br />
        {{error}}
      </div>
      <br />
      <div *ngIf="!success">
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
          <mat-card-content>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>이메일</mat-label>
              <input matInput placeholder="이메일" formControlName="email" [formControl]="emailFormControl"
                [errorStateMatcher]="matcher" />
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                유효한 이메일 주소를 입력해주세요.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>닉네임</mat-label>
              <input matInput placeholder="닉네임" formControlName="nickName" [formControl]="nickNameFormControl"
                [errorStateMatcher]="matcher" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>비밀번호</mat-label>
              <input matInput type="password" placeholder="비밀번호" formControlName="password" [formControl]="passwordFormControl"
                [errorStateMatcher]="matcher" />
              <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
                최소 8글자에 숫자, 대소문자를 섞어주세요.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>비밀번호 재확인</mat-label>
              <input matInput type="password" placeholder="비밀번호 재확인" formControlName="confirmPassword" [formControl]="confirmPasswordFormControl"
                [errorStateMatcher]="matcher" />
              <mat-error *ngIf="confirmPasswordFormControl.hasError('pattern') && !confirmPasswordFormControl.hasError('required')">
                최소 8글자에 숫자, 대소문자를 섞어주세요.
              </mat-error>
            </mat-form-field>
            <div id="recaptcha" style="margin-left: 15px;">
              <re-captcha (resolved)="$event && submit($event)" formControlName="recaptcha" siteKey="6Lf5B3YUAAAAACwH0L2VRaY-dA-BeK1k3NMmiP1U"></re-captcha>
            </div>
          </mat-card-content>
          <div>
            <br />
            <mat-toolbar>
              <button style="margin: auto;" mat-raised-button class="stick-to-right-side" [disabled]="!(registerForm.controls.email.valid && 
                  registerForm.controls.nickName.valid &&
                  registerForm.controls.password.valid &&
                  registerForm.controls.confirmPassword.valid &&
                  registerForm.controls.recaptcha.valid)"
                color="accent">
                등록
              </button>
            </mat-toolbar>
            <div style="margin-top: 20px;">
              <p style="font-size: 11px;">* 등록버튼을 누르시면 이 약관에 동의하는 것으로 간주됩니다.</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>