.view {
  background: url('../../../assets/images/register.jpeg') no-repeat center center;  
  background-size: cover;
  height: 60vh;
}

.input-size {
  width: 92%;
}

.terms-of-service {
  text-decoration: underline;
  color: #0521cf;
}

@media screen and (min-width : 0px) and (max-width : 767px){
  #picture {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}