.left-align {
  text-align: left;
}

.left-align-panel {
  text-align: left;
  margin-left: 8px;
}

.not-allowed {
  cursor: not-allowed;
}

#salary-chart {
  background: url(./../../assets/images/salary-chart.png) no-repeat center center;
  height: 120px;
  width: 250px;
  margin-left: 20px;
}

#low-word {
  position: absolute;
  top: 190px;
  left: 62px;
}

#low {
  position: absolute;
  top: 210px;
  left: 35px;
}

#median-word {
  position: absolute;
  top: 100px;
  left: 155px;
}

#median {
  position: absolute;
  top: 120px;
  left: 110px; 
  font-size: 20px;
  font-weight: 900;
}

#high-word {
  position: absolute;
  top: 60px;
  left: 270px;
}

#high {
  position: absolute;
  top: 80px;
  left: 240px;
}

.sharer {
  background-color: #f7746a; 
  color: white; 
  border-radius: 5px;
}

.pre-wrap {
  white-space: pre-wrap;
}

@media screen and (min-width: 768px) {
  .buttons {
    display:block; 
    margin-top: -45px;
  }
}