.example-header-image {
  background-size: cover;
}

.busan-bada {
  font-family: 'BusanBada';
}

.thick {
  font-weight: bold;
}

.center {
  margin:0 auto;
}

.country-title {
  font-family: 'BusanBada';
  text-align: left;
  font-weight: bold;
  font-size: 22px;
}