<br /><br />

<p class="country-title">새로운 영상</p>
<hr />
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
 [animation]="'slide'">
	<mdb-carousel-item *ngFor="let item of slides; let i = index">
		<div class="col-md-3" *ngFor="let card of item">
			<mat-card class="card card-body mb-3" (click)="onMatCardClick(card.videoPostId, card.youTubeVideoId, card.vimeoId)" style="cursor:pointer;">
				<mat-card-header>
					<div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image':'url(' + backgroundUrl + card.countryEN +'.png' + ')'}"></div>
					<mat-card-title>{{card.uploader}}</mat-card-title>
					<mat-card-subtitle>{{card.uploadedDate | date:'y년 M월 d일'}}</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="https://img.youtube.com/vi/{{card.youTubeVideoId}}/hqdefault.jpg">
				<mat-card-content>
					<h6><strong>{{card.countryKR}} {{card.title}}</strong></h6>
				</mat-card-content>
			</mat-card>
		</div>
	</mdb-carousel-item>
</mdb-carousel>

<br /><br />

<div *ngIf="!isAllVideosLoaded">
	<mdb-spinner spinnerType="big" spinnerColor="yellow"></mdb-spinner>
</div>
<div *ngIf="isAllVideosLoaded">
	<p class="country-title">모든 영상</p>
	<hr />
	<div class="row">
		<div class="col-md-3" *ngFor="let card of allVideos">
			<mat-card class="card card-body mb-3" (click)="onMatCardClick(card.videoPostId, card.youTubeVideoId, card.vimeoId)" style="cursor:pointer;">
				<mat-card-header>
					<div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image':'url(' + backgroundUrl + card.countryEN +'.png' + ')'}"></div>
					<mat-card-title>{{card.uploader}}</mat-card-title>
					<mat-card-subtitle>{{card.uploadedDate | date:'y년 M월 d일'}}</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="https://img.youtube.com/vi/{{card.youTubeVideoId}}/hqdefault.jpg">
				<mat-card-content>
					<h6><strong>{{card.countryKR}} {{card.title}}</strong></h6>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="center" style="margin-top: 20px;">
			<button mdbBtn type="button" color="info" outline="true" mdbWavesEffect (click)="onViewMoreClick()">더 보기</button>
		</div>
	</div>
</div>

<br /><br />

<section class="magazine-section my-5">
	<div class="row">
		<div class="col-lg-9 col-md-12">
			<div class="single-news mb-lg-0 mb-4">
				<p class="thick">해외 뉴스</p>
				<p>해외 취업/이민 소식을 전달해 드립니다.</p>
				<hr />
				<section class="magazine-section my-5">
					<div class="row" *ngFor="let mn of mainNews">
						<div class="col-lg-12	col-md-12">
							<div class="row pointer" (click)="onNewsDetailClick(mn.newsDetailId, mn.newsId)">
								<div class="col-md-3">
									<div class="view overlay rounded z-depth-1 mb-4">
										<img class="news-image" src="{{mn.thumbnail}}" style="width: 185px;">
										<a>
											<div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
										</a>
									</div>
								</div>
								<div class="col-md-9 left-align">
									<p class="font-weight-bold dark-grey-text">
										{{mn.subject}}
										<img *ngIf="mn.createdDate === today" src="./../../assets/images/new.png" alt="new">
									</p>
									<div class="d-flex justify-content-between">
										<div class="col-11 text-truncate pl-0 mb-3">
											<div class="dark-grey-text">{{mn.creator}}</div>
											<div class="dark-grey-text">{{mn.dateCreated | date:'y-MM-dd'}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="center">
						<button mdbBtn type="button" color="info" outline="true" (click)="onMoreNewsClick()" mdbWavesEffect>더 보기</button>
					</div>
				</section>
			</div>
		</div>
		<div class="col-lg-3 col-md-12">
			<div class="single-news mb-lg-0 mb-4">
				<div *ngIf="isRecommendedVideoLoaded">
					<mat-card class="card card-body mb-3" (click)="onMatCardClick(recommendedVideo.videoPostId, recommendedVideo.youTubeVideoId, recommendedVideo.vimeoId)"
					 style="cursor:pointer;">
						<p class="thick">추천 영상</p>
						<hr />
						<mat-card-header>
							<div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image':'url(' + backgroundUrl + recommendedVideo.countryEN +'.png' + ')'}"></div>
							<mat-card-title>{{recommendedVideo.uploader}}</mat-card-title>
							<mat-card-subtitle>{{recommendedVideo.uploadedDate | date:'y년 M월 d일'}}</mat-card-subtitle>
						</mat-card-header>
						<img mat-card-image src="https://img.youtube.com/vi/{{recommendedVideo.youTubeVideoId}}/hqdefault.jpg">
						<mat-card-content>
							<h6><strong>{{recommendedVideo.countryKR}} {{recommendedVideo.title}}</strong></h6>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<div class="single-news mb-lg-0 mb-4">
				<div *ngIf="isCurrencyLoaded">
					<mat-card class="example-card">
						<p class="thick">TODAY 환율</p>
						<hr />
						<mat-card-content class="left-align-panel">
								<p style="font-size: 12px;">{{currencyInfo.today | date:'y년 M월 d일' }}</p>
								<mat-label>
									<p>미국 USD: <span class="thick">{{currencyInfo.usd}}</span></p>
									<p>캐나다 CAD: <span class="thick">{{currencyInfo.cad}}</span></p>
									<p>호주 AUD: <span class="thick">{{currencyInfo.aud}}</span></p>
									<p>뉴질랜드 NZD: <span class="thick">{{currencyInfo.nzd}}</span></p>
								</mat-label>
							</mat-card-content>
					</mat-card>
				</div>
			</div>
		</div>
	</div>
</section>