.example-header-image {
  background-size: cover;
}

.busan-bada {
  font-family: 'BusanBada';
}

.center {
  margin:0 auto;
}

.country-title {
  font-family: 'BusanBada';
  text-align: left;
  font-weight: bold;
  font-size: 22px;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.news-image {
  display: block;
  width: 160px;
  height: 85px;
}

@media screen and (min-width : 0px) and (max-width : 767px) { 
  .desktop {
    display: none;
  }
 }