<section class="magazine-section my-5">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="single-news mb-lg-0 mb-4">
        <div *ngIf="!isCountryInfoCanadaLoaded">
          <mdb-spinner spinnerType="big" spinnerColor="yellow"></mdb-spinner>
        </div>
        <div *ngIf="isCountryInfoCanadaLoaded" mat-dialog-content>
          <mdb-tabset [buttonClass]="'pills-secondary white mb-2'" [contentClass]="'card'">
            <mdb-tab heading="취업유망분야">
              <section class="magazine-section my-5">
                <div class="row">
                  <div class="col-lg-12	col-md-12">
                    <br />
                    <div [innerHTML]="countryInfoCanada.promosingField | safeHtml"></div>
                    <hr />
                    <p style="font-size: 13px; text-align: left;">
                      본 저작물은 KOTRA에서 2018년 작성하여 공공누리 제 4유형으로 개방한 '국가·지역정보'를 이용하였으며,
                      해당 저작물은 KOTRA 해외시장뉴스(news.kotra.or.kr)에서 무료로 열람 가능합니다.
                    </p>
                  </div>
                </div>
              </section>
            </mdb-tab>
            <mdb-tab heading="이주정착 가이드">
              <section class="magazine-section my-5">
                <div class="row">
                  <div class="col-lg-12	col-md-12">
                    <br />
                    <div [innerHTML]="countryInfoCanada.settlementGuide | safeHtml"></div>
                    <hr />
                    <p style="font-size: 13px; text-align: left;">
                      본 저작물은 KOTRA에서 2018년 작성하여 공공누리 제 4유형으로 개방한 '국가·지역정보'를 이용하였으며,
                      해당 저작물은 KOTRA 해외시장뉴스(news.kotra.or.kr)에서 무료로 열람 가능합니다.
                    </p>
                  </div>
                </div>
              </section>
            </mdb-tab>
            <mdb-tab heading="생활여건">
              <section class="magazine-section my-5">
                <div class="row">
                  <div class="col-lg-12	col-md-12">
                    <br />
                    <div [innerHTML]="countryInfoCanada.livingCondition | safeHtml"></div>
                    <hr />
                    <p style="font-size: 13px; text-align: left;">
                      본 저작물은 KOTRA에서 2018년 작성하여 공공누리 제 4유형으로 개방한 '국가·지역정보'를 이용하였으며,
                      해당 저작물은 KOTRA 해외시장뉴스(news.kotra.or.kr)에서 무료로 열람 가능합니다.
                    </p>
                  </div>
                </div>
              </section>
            </mdb-tab>
            <mdb-tab heading="출입국 및 비자제도">
              <section class="magazine-section my-5">
                <div class="row">
                  <div class="col-lg-12	col-md-12">
                    <br />
                    <div [innerHTML]="countryInfoCanada.immigrationVisa | safeHtml"></div>
                    <hr />
                    <p style="font-size: 13px; text-align: left;">
                      본 저작물은 KOTRA에서 2018년 작성하여 공공누리 제 4유형으로 개방한 '국가·지역정보'를 이용하였으며,
                      해당 저작물은 KOTRA 해외시장뉴스(news.kotra.or.kr)에서 무료로 열람 가능합니다.
                    </p>
                  </div>
                </div>
              </section>
            </mdb-tab>
          </mdb-tabset>
        </div>
      </div>
    </div>
  </div>
</section>