<section class="magazine-section my-5">
  <div class="row">
    <div class="col-lg-2 col-md-12">
      <mat-accordion>
        <mat-expansion-panel *ngIf="isCategoriesLoaded" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              카테고리
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="pointer" *ngFor="let c of categories" (click)="onSelectCategory(c)" [style.background-color]="c===selectedCategory ? '#94c3f4' : ''">
            {{c.name}}
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- <div id="list-example" class="list-group">
        <div class="list-group-item list-group-item-action pointer" (click)="loadNewsList(1)">경제/무역</div>
        <div class="list-group-item list-group-item-action pointer" (click)="loadNewsList(2)">통상/규제</div>
        <div class="list-group-item list-group-item-action pointer" (click)="loadNewsList(3)">일자리 동향</div>
      </div> -->
      <br />
      <div class="single-news mb-lg-0 mb-4">
        <div *ngIf="isPopularNewsLoaded">
          <mat-card class="example-card">
            <p class="thick">많이 본 뉴스</p>
            <hr />
            <mat-card-content class="left-align-panel">
              <mat-label *ngFor="let pn of popularNews; let i = index">
                <p class="popular-news pointer" (click)="onPopularNewsClick(pn.newsDetailId, pn.newsId)">{{i+1}}.
                  {{pn.subject}}</p>
              </mat-label>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-lg-10 col-md-12">
      <div class="single-news mb-lg-0 mb-4">
        <div *ngIf="!isNewsDetailLoaded">
          <mdb-spinner spinnerType="big" spinnerColor="yellow"></mdb-spinner>
        </div>
        <div *ngIf="isNewsDetailLoaded">
          <section class="magazine-section my-5">
            <div class="row">
              <div class="col-lg-12	col-md-12 right-align">
                <h5 class="font-weight-bold dark-grey-text">{{newsDetail.subject}}</h5>
                <p>{{newsDetail.department}}</p>
                <p>{{newsDetail.dateCreated | date:'y-MM-dd'}}</p>
                <p style="margin-top: -10px;">{{newsDetail.creator}}</p>
                <p style="margin-top: -10px;">조회수: {{newsDetail.views}}</p>
                <hr />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12	col-md-12">
                <br />
                <div class="left-align" [innerHTML]="newsDetail.body | safeHtml"></div>
                <hr />
                <div>
                  <button mdbBtn type="button" color="info" outline="true" (click)="backToList()" mdbWavesEffect>목록</button>
                </div>
                <hr />
                <p style="font-size: 13px; text-align: left;">
                  본 저작물은 KOTRA에서 <span>{{newsDetail.dateCreated | date:'y년 M월 d일'}}</span>
                  작성하여 공공누리 제 1유형으로 개방한 '<span>[{{newsDetail.subject}}]</span>
                  <span>(작성자: {{newsDetail.creator}})</span>'를 이용하였으며,
                  해당 저작물은 KOTRA 해외시장뉴스(news.kotra.or.kr)에서 무료로 열람 가능합니다.
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>