@font-face { 
  font-family: 'BusanBada'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BusanBada.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}
.text-center {
  padding-top: 1rem !important;
}
.uploader-ranking-panel {
  position: absolute; 
  right: 100px; 
  top: 580px;
}

@media screen and (min-width : 0px) and (max-width : 767px){
  .uploader-ranking-panel {    
    visibility: hidden;
    clear: both;   
    display: none;
  }
}