<section class="magazine-section my-5">
  <div class="row">
    <div class="col-lg-2 col-md-12">
      <div id="list-example" class="list-group">
        <div class="list-group-item list-group-item-action pointer" (click)="loadNewsList(1)">경제/무역</div>
        <div class="list-group-item list-group-item-action pointer" (click)="loadNewsList(2)">통상/규제</div>
        <div class="list-group-item list-group-item-action pointer" (click)="loadNewsList(3)">일자리 동향</div>
      </div>
    </div>
    <div class="col-lg-10 col-md-12">
      <br />
      <h3>{{topic}}</h3>
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="md-form">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInputDirective>
            <label for="search">검색</label>
          </div>
        </div>
      </div>
      <div class="single-news mb-lg-0 mb-4">
        <div *ngIf="!isNewsLoaded">
          <mdb-spinner spinnerType="big" spinnerColor="yellow"></mdb-spinner>
        </div>
        <div *ngIf="isNewsLoaded" mat-dialog-content>
          <div class="col-12" *ngFor="let nl of newsList | searchFilter: {subject: searchText, country: searchText, department: searchText, dateCreated: searchText} | paginate: { itemsPerPage: 10, currentPage: page }">
            <section class="magazine-section my-5">
              <div class="row">
                <div class="col-lg-12	col-md-12">
                  <div class="row pointer" (click)="onNewsClick(nl.newsDetailId, nl.newsId, nl.index)">
                    <div class="col-md-3">
                      <img class="news-image" src="{{nl.thumbnail}}">
                    </div>
                    <div class="col-md-9 left-align">
                      <h5 class="font-weight-bold dark-grey-text">{{nl.subject}}</h5>
                      <p>{{nl.country}} {{nl.department}}</p>
                      <p style="margin-top: -10px;">{{nl.dateCreated | date:'y-MM-dd'}}</p>
                      <p style="margin-top: -20px;">조회수: {{nl.views}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="has-text-centered">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <!-- <div class="single-news mb-lg-0 mb-4">
            <div *ngIf="!isNewsLoaded">
              <mdb-spinner spinnerType="big" spinnerColor="yellow"></mdb-spinner>
            </div>
            <div *ngIf="isNewsLoaded" mat-dialog-content>
              <mdb-tabset #staticTabs [buttonClass]="'pills-secondary white mb-2'" [contentClass]="'card'">
                <mdb-tab *ngFor="let n of news; let i = index;" heading="{{n.topic}}">
                  <div class="col-12" *ngFor="let d of n.newsDetails | paginate: { itemsPerPage: 10, currentPage: p[i], id: n.newsId }">             
                    <section class="magazine-section my-5">
                      <div class="row">
                        <div class="col-lg-12	col-md-12">
                          <div class="row pointer" (click)="onNewsClick(d.newsDetailId, d.index)">
                            <div class="col-md-3">
                                <img class="news-image" src="{{d.thumbnail}}">
                            </div>
                            <div class="col-md-9 left-align">
                              <h5 class="font-weight-bold dark-grey-text">{{d.subject}}</h5>
                              <p>{{d.country}} {{d.department}}</p>
                              <p style="margin-top: -10px;">{{d.dateCreated | date:'y-MM-dd'}}</p>
                              <p style="margin-top: -20px;">조회수: {{d.views}}</p>                       
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>             
                  </div>  
                  <div class="has-text-centered">
                      <pagination-controls (pageChange)="p[i] = $event" [id]="n.newsId"></pagination-controls>
                    </div>           
                </mdb-tab>
              </mdb-tabset>
            </div>
          </div> -->
    </div>
  </div>
</section>