<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav"
    [containerInside]="true">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" [routerLink]="['']">
        <strong>탈조선</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['search-videos']">
            영상 분류
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['news']">
            취업/이민 뉴스
          </a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            국가 정보<span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['promising-field']">취업유망분야</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['settlement-guide']">이주정착 가이드</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['living-condition']">생활여건</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['immigration-visa']">출입국 및 비자제도</a>
          </div>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['upload-video']">
            영상 만들기
          </a>
        </li>
        <li *ngIf="authService.isAuthenticated() && authService.isAdmin()" class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['admin']">
            운영자
          </a>
        </li>
      </ul>
      <ul *ngIf="!authService.isAuthenticated()" class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['register']">회원가입</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a href="javascript:void(0);" class="nav-link" (click)="openLoginDialog()">로그인</a>
        </li>
      </ul>
      <ul *ngIf="authService.isAuthenticated()" class="navbar-nav nav-flex-icons">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" mdbWavesEffect>
            <i *ngIf="isNotificationLoaded" matBadge="{{newNotifications}}" matBadgeColor="warn" class="fa fa-bell"></i>
            <i *ngIf="!isNotificationLoaded" class="fa fa-bell"></i>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <div *ngIf="hasNotifications" style="overflow-y: scroll; height: 400px;">
              <div *ngFor="let n of notifications" class="dropdown-item waves-effect waves-light" (click)="onClickNotification(n.notificationId, 
                                                 n.videoPostId, 
                                                 n.youTubeVideoId, 
                                                 n.isGoogleDriveVideo, 
                                                 n.videoCommentId, 
                                                 n.videoCommentReplyId)"
                mdbWavesEffect>
                <span>{{n.nickName}}님의 답글
                  <img *ngIf="!n.hasRead" src="./../../assets/images/new.png" alt="new" style="margin-bottom: 3px;">
                </span>
                <span class="thick limit-text">"{{n.comment}}"</span>
                <span style="font-size: 11px;">{{n.dateCreated | date:'y년 M월 d일 HH시 mm분'}}</span>
              </div>
            </div>
            <div *ngIf="!hasNotifications">
              <span>새 알림이 없습니다.</span>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <i class="fa fa-user"></i>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <div style="margin-top: 5px; font-weight: bold; text-align: center;">{{authService.getUserEmail()}}</div>
            <hr />
            <a class="dropdown-item waves-effect waves-light" mdbWavesEffect (click)="onClickMyVideos()">내 찜한 영상</a>
            <a class="dropdown-item waves-effect waves-light" mdbWavesEffect (click)="onClickProfile()">프로필</a>
            <a class="dropdown-item waves-effect waves-light" mdbWavesEffect (click)="onChangePassword()">비밀번호 변경</a>
            <a class="dropdown-item waves-effect waves-light" mdbWavesEffect (click)="onLogout()">로그아웃</a>
          </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <div class="view intro-2" *ngIf="router.url === '/'">
    <div class="full-bg-img">
      <div class="mask flex-center">
        <!-- rgba-purple-light  -->
        <div class="container text-center white-text wow fadeInUp">
          <br><br><br><br><br>
          <h1>해외 취업/이민의 현실적 정보</h1>
          <br>
          <h5>Goodbye 스펙경쟁 & 미세먼지.. 나는 해외로 간다!</h5>
          <h6>경쟁이 치열한 국내 시장에서 눈을 돌리면 해외의 놀라운 시장이 보입니다.</h6>
          <h6>글로벌 무대로 진출하고자 하는 당신을 위한 해외 취업/이민 정보 공유</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="view intro-2" *ngIf="router.url === '/upload-video'">
    <div class="full-bg-img">
      <div class="mask flex-center">
        <!-- rgba-purple-light  -->
        <div class="container text-center white-text wow fadeInUp">
          <br><br><br><br><br>
          <h1>해외 취업 성공사례를 나눠주세요</h1>
          <br>
          <h6>여러분의 스토리를 앞으로 해외 취업을 꿈꾸는 모든 분들께 공유할 수 있습니다.</h6>
          <h6>멘토링 역할을 할 수 있는 기회를 꼭 만들어 보세요.</h6>
        </div>
      </div>
    </div>
  </div>
</header>