<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav"
    [containerInside]="true">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" [routerLink]="['']">
        <strong>엑소더스 코리아</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['']">
            Home <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <ul *ngIf="!authService.isAuthenticated()" class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a href="javascript:void(0);" class="nav-link" (click)="openRegisterDialog()">회원가입</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a href="javascript:void(0);" class="nav-link" (click)="openLoginDialog()">로그인</a>
        </li>
      </ul>
      <ul *ngIf="authService.isAuthenticated()" class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-envelope"></i></a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <i class="fa fa-user"></i>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-effect waves-light" mdbWavesEffect href="javascript:;;">회원정보</a>
            <a class="dropdown-item waves-effect waves-light" mdbWavesEffect (click)="onChangePassword()">비밀번호 변경</a>
            <a class="dropdown-item waves-effect waves-light" mdbWavesEffect (click)="onLogout()">로그아웃</a>
          </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <h2>해외취업의 모든 정보</h2>
          <br>
          <h5>It will always stay visible on the top, even when you scroll down</h5>
          <p>Navbar's background will switch from transparent to solid color while scrolling down</p>
          <br>
          <p>Full page intro with background image will be always displayed in full screen mode, regardless of device
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden: !(isHandset$ | async)}"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="javascript:void(0);" (click)="openRegisterDialog()">회원가입</a>
      <a mat-list-item href="javascript:void(0);" (click)="openLoginDialog()">로그인</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>엑소더스 코리아</span>
      <span class="spacer"></span>
      <a href="javascript:void(0);" fxHide.xs (click)="openRegisterDialog()">회원가입</a>
      <a href="javascript:void(0);" fxHide.xs (click)="openLoginDialog()">로그인</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->