h1, h5, strong{
  font-family: 'BusanBada';
}

.view {
  background: url('../../../assets/images/main.jpeg') no-repeat center center;
  background-size: cover;
  height: 50vh;
}

.navbar {
  z-index: 1;
}

.left-align {
  text-align: left;
}

.limit-text {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}