<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="large" color="#f7a233" type="timer"></ngx-spinner>
<mat-toolbar>
  <span class="title-center">비밀번호 찾기</span>
</mat-toolbar>
<mat-card class="my-card">
  <div *ngIf="success">
    <div *ngIf="success" style="color: green;" [innerHTML]="success"></div><br /><br />    
      <button *ngIf="success" 
              mat-raised-button 
              class="stick-to-right-side" 
              (click)="onLoginClick()" 
              color="primary">
        로그인
      </button>
      <br /><br /><br />
  </div>
  <div *ngIf="error">
    <div *ngIf="error" style="color: red;">{{error}}</div><br />
  </div>  
  <div *ngIf="!success">
      <form (ngSubmit)="onSubmit()" [formGroup]="forgotPwdForm">
          <mat-card-content>
            <p>엑소더스 코리아 회원님,</p>
            <p>
              비밀번호는 가입시 등록한 <strong>이메일 주소</strong>로 알려드리게 됩니다.
              가입시 등록한 이메일 주소를 입력하셔서 비밀번호 찾기를 눌러주세요.
            </p>
            <br />
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>이메일</mat-label>
              <input matInput placeholder="이메일" formControlName="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" />
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                유효한 이메일 주소를 입력해주세요.
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                작성이 필요한 필드입니다.
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button 
                    class="stick-to-right-side" 
                    [disabled]="!forgotPwdForm.controls.email.valid" 
                    color="accent">
              비밀번호 찾기
            </button>
            <button mat-raised-button 
                    class="stick-to-right-side" 
                    (click)="onBackClick($event)" 
                    color="primary">
              뒤로
            </button>
          </mat-card-actions>
        </form>
  </div>  
</mat-card>