<section class="magazine-section my-5" id="detail">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div style="text-align: center;" *ngIf="!isSearchResultLoaded">
        <mdb-spinner spinnerType="big" spinnerColor="yellow"></mdb-spinner>
      </div>
      <div class="row" *ngIf="isSearchResultLoaded">
        <div class="col-lg-10 col-md-4" style="margin: 0 auto;"
          *ngFor="let card of searchResult | paginate: { itemsPerPage: 1, currentPage: page }">
          <mat-card class="card card-body mb-6"
            (click)="onMatCardClick(card.videoPostId, card.youTubeVideoId, card.isGoogleDriveVideo)"
            style="cursor:pointer;">
            <mat-card-header>
              <mat-card-title [ngClass]="{'eko-video': card.isGoogleDriveVideo}">{{card.uploader}}</mat-card-title>
              <mat-card-subtitle>좋아요: {{card.likes}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://img.youtube.com/vi/{{card.youTubeVideoId}}/hqdefault.jpg">
            <mat-card-content>
              <p style="text-align: center;"><strong><span style="color: #007bff;">[{{card.category}}]</span>
                  {{card.countryKR}} {{card.title}}</strong></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <br />
      <div style="text-align: center;">
        <pagination-controls (pageChange)="page = $event" previousLabel="이전" nextLabel="다음"></pagination-controls>
      </div>
    </div>
  </div>
</section>
<mat-card-actions>
  <button mat-raised-button class="stick-to-right-side" color="accent">
    <!-- 총 영상: {{data.uploaderRanking.specificInfo.videoCount}} -->
    총 추천 개수: {{data.uploaderRanking.specificInfo.likesSum}}
  </button>
  <button mat-raised-button class="stick-to-right-side" (click)="onCancelClick()" color="primary">닫기</button>
</mat-card-actions>