.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
   
.full-width {
    width: 100%;
}

.thick {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.green-snackbar {
    background: #5fc651;
}

.warning-snackbar {
    background: #ffc107;
}

.error-snackbar {
    background: #dc3545;
}

.title-center {
    flex: 1 1 auto;
    text-align: center;
}

.remove-underline {
    text-decoration: none;
}

.stick-to-right-side {
    float: right;
}

.stick-to-left-side {
    float: left;
}

.carousel-multi-item 
.carousel-inner 
.carousel-item.active, 
.carousel-multi-item 
.carousel-item-next, 
.carousel-multi-item 
.carousel-item-prev { 
    display: flex; 
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -18px !important;
}